{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th class="col-md-5">Description</th>
                <th>Statut</th>
                <th>Priorité</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th>Reponsable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.owner.firstname }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">Voir</a>
                    {% if is_granted('EDIT', ticket) %}
                        <a class="btn btn-warning" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Editer</a>    
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun ticket</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {# lien page précédente #}
            <li class="page-item {{ 1 == currentPage ? 'disabled' }}">
            <a class="page-link" href="{{ path('app_ticket_index', {page: currentPage - 1}) }}">«</a>
            </li>

            {# pages #}
            {% for i in 1..pagesCount %}
            <li class="page-item {{ i == currentPage ? 'active' }}">
                <a class="page-link" href="{{ path('app_ticket_index', {page: i}) }}">{{ i }}</a>
            </li>
            {% endfor %}

            {# lien page suivante #}
            <li class="page-item {{ pagesCount == currentPage ? 'disabled' }}">
            <a class="page-link" href="{{ path('app_ticket_index', {page: currentPage + 1}) }}">»</a>
            </li>
        </ul>
    </nav>
    <a class="btn btn-success mb-3" href="{{ path('app_ticket_new') }}">Nouveau</a>
{% endblock %}
