{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}

    {{ form_start(filterForm, {method: 'GET', attr: {class: 'd-flex align-items-end mb-3'}}) }}
    <h1 class="pe-5">Tickets</h1>
    <div class="me-2">{{ form_widget(filterForm.status, {attr: {class: 'form-select'}}) }}</div>
    <div class="me-2">{{ form_widget(filterForm.priority, {attr: {class: 'form-select'}}) }}</div>
    <div class="me-2">{{ form_widget(filterForm.sort, {attr: {class: 'form-select'}}) }}</div>
    <div class="me-2">{{ form_widget(filterForm.direction, {attr: {class: 'form-select'}}) }}</div>
    <div class="me-2">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
        Filtres avancés
      </button>
    </div>
    <div class="me-2">{{ form_widget(filterForm.filter, {attr: {class: 'btn btn-primary'}}) }}</div>

  {# Offcanvas pour filtres par date #}
  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasFiltersLabel">Filtres par date</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container-fluid">
        <div class="row g-3 mb-3">
          <div class="col-2">
            {{ form_row(filterForm.createdFrom, {attr: {class: 'form-control'}}) }}
          </div>
          <div class="col-2">
            {{ form_row(filterForm.createdTo, {attr: {class: 'form-control'}}) }}
          </div>
          <div class="col-2">
            {{ form_row(filterForm.updatedFrom, {attr: {class: 'form-control'}}) }}
          </div>
          <div class="col-2">
            {{ form_row(filterForm.updatedTo, {attr: {class: 'form-control'}}) }}
          </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Appliquer</button>
          </div>
      </div>
    </div>
  </div>
  {{ form_end(filterForm) }}

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th class="col-md-5">Description</th>
                <th>Statut</th>
                <th>Priorité</th>
                <th>Créé</th>
                <th>Modifié</th>
                <th>Reponsable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.owner.firstname }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">Voir</a>
                    {% if is_granted('EDIT', ticket) %}
                        <a class="btn btn-warning" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Editer</a>    
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun ticket</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {# lien page précédente #}
            <li class="page-item {{ 1 == currentPage ? 'disabled' }}">
            <a class="page-link" href="{{ path('app_ticket_index', {page: currentPage - 1}) }}">«</a>
            </li>

            {# pages #}
            {% for i in 1..pagesCount %}
            <li class="page-item {{ i == currentPage ? 'active' }}">
                <a class="page-link" href="{{ path('app_ticket_index', {page: i}) }}">{{ i }}</a>
            </li>
            {% endfor %}

            {# lien page suivante #}
            <li class="page-item {{ pagesCount == currentPage ? 'disabled' }}">
            <a class="page-link" href="{{ path('app_ticket_index', {page: currentPage + 1}) }}">»</a>
            </li>
        </ul>
    </nav>
    <a class="btn btn-success mb-3" href="{{ path('app_ticket_new') }}">Nouveau</a>
{% endblock %}
