{# Récupère les paramètres utilisateur #}
{% set userSettings = app.user ? app.user.getSettings() : {} %}

<!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}TickMaster{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
      </head>
      <body class="bg-{{ userSettings.theme|default('light') }} text-{{ userSettings.theme|default('light') == 'dark' ? 'white' : 'dark' }}">
        <header class="p-0">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ path('app_home') }}"><h4>TickMaster</h4></a>
              {% if app.user %}
                <a class="btn btn-outline-light" href="{{ path('logout') }}">Déconnexion</a>
              {% else %}
                <a class="btn btn-outline-light" href="{{ path('login') }}">Connexion</a>
              {% endif %}
            </div>
          </nav>
        </header>
        <div class="d-flex">
          <nav id="sidebar" class="bg-secondary text-white vh-90 p-3">
            <ul class="nav nav-pills flex-column mt-4">
              <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{{ path('app_user_settings') }}">Paramètres</a>
              </li>
              <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{{ path('app_dashboard') }}">Dashboard</a>
              </li>
              <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{{ path('app_ticket_index') }}">Tickets</a>
              </li>
              <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{{ path('app_users') }}">Utilisateurs</a>
              </li>
            </ul>
          </nav>
          <main class="flex-grow-1 p-3">
            {% block body %}{% endblock %}
          </main>
        </div>
        <script src="https:cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.bundle.min.js">
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}</script>
      </body>
    </html>
